<!DOCTYPE html>
<html>
<header>
  <title>Categorias</title>
</header>

<body>
  <h1>Categorias</h1>

  <table>
    <tr>
      <th>nome</th>
      <th></th>
      <th></th>
    </tr>
    {% for valor in valores %}
      <tr>
        <td>{{valor["nome"]}}</td>
        <td><form method="get" action="/deletar_categorias"><button name="id" value="{{valor['id']}}">Excluir</button></form></td>
      </tr>
    {% endfor %}
  </table>
  <form action="/criar_categorias">
    <button type="submit" value="editar categorias">Adicionar categoria</button>
  </form>
  <a href="/eventos">Voltar para Eventos</a>
</body>

</html>
