<!DOCTYPE html>
<html>
  <header>
  </header>
  <title>Editar {{tabela}}</title>
  <body>
    {% if tabela == "eventos" %}
    {% if json == {} %}
      <form action="/criar_eventos" method="post" enctype="multipart/form-data">
        <label>Título: </label>
        <input type="text" id="titulo" name="titulo" required><br><br>
        <label>Descrição: </label>
        <input type="text" id="descricao" name="descricao"><br><br>
        <label>Datas: </label>
        <input type="date" id="datas" name="datas" required><br><br>
        <button type="submit">Salvar</button>
        </form>
    {% else %}
    <form action="/editar_eventos" method="post" enctype="multipart/form-data">
      <label>Título: </label>
      <input type="text" id="titulo" name="titulo" value="{{json['titulo']}}" required><br><br>
      <label>Descrição: </label>
      <input type="text" id="descricao" name="descricao" value="{{json['descricao']}}"><br><br>
      <label>Datas: </label>
      <input type="date" id="datas" name="datas" value="{{json['datas']}}" required><br><br>
      <button type="submit">Salvar</button>
      </form>
    {% endif %}
    {% endif %}
    {% if tabela == "categorias" %}
    {% if json == {} %}
        <form action="criar_categorias" method="post" enctype="multipart/form-data">
        <label>Nome: </label>
        <input type="text" id="nome" name="nome" required><br><br>
        <button type="submit">Salvar</button>
        </form>
    {% else %}
    <form action="editar_categorias" method="post" enctype="multipart/form-data">
      <label>Nome: </label>
      <input type="text" id="nome" name="nome" value="{{json['nome']}}" required><br><br>
      <button type="submit">Salvar</button>
      </form>
    {% endif %}
    {% endif %}
      <form action="/{{tabela}}"><button type="submit">Voltar</button></form>
  </body>
</html>
